.tablepress thead th {
	background-color: #46a1aa;
	vertical-align: middle;
	color: black;
}

.tablepress thead th {
	font-weight: bold;
}

.tablepress-id-3 tbody td {
	padding: 16px !important;
}

.tablepress-id-3 .column-1 {
	width: 24rem;
	font-weight: bold;
	font-size: 1.2rem;
}

.tablepress-id-3 .column-2 {
	width: 10rem;
}

.tablepress-id-3 .column-3 {
	width: 30rem;
}

.tablepress-id-3 .column-4 {
	width: 10rem;
}

.tablepress-id-4 .column-1 {
	width: 3000px;
}

.tablepress-id-4 .column-2 {
	width: 500px;
}

.tablepress-id-4 .column-3 {
	width: 500px;
}

.tablepress-id-7 .column-1 {
	width: 3000px;
}

.tablepress-id-7 .column-2 {
	width: 500px;
}

.tablepress-id-7 .column-3 {
	width: 500px;
}

.tablepress-id-9 .column-1 {
	width: 2000px;
}

.tablepress-id-9 .column-2 {
	width: 500px;
}

.tablepress-id-9 .column-5 {
	width: 1000px;
}

.tablepress-id-10 .column-1 {
	width: 1000px;
}

.tablepress-id-10 .column-2 {
	width: 500px;
}

.tablepress-id-10 .column-3 {
	width: 500px;
}

.tablepress-id-10 .column-4 {
	width: 500px;
}