.tablepress thead th {
	background-color: #46a1aa;
	vertical-align: middle;
	color: black;
}

.tablepress thead th {
	font-weight: bold;
}

.tablepress-id-3 .column-1 {
	width: 3000px;
}

.tablepress-id-3 .column-2 {
	width: 500px;
}

.tablepress-id-3 .column-3 {
	width: 500px;
}

.tablepress-id-4 .column-1 {
	width: 3000px;
}

.tablepress-id-4 .column-2 {
	width: 500px;
}

.tablepress-id-4 .column-3 {
	width: 500px;
}

.tablepress-id-7 .column-1 {
	width: 3000px;
}

.tablepress-id-7 .column-2 {
	width: 500px;
}

.tablepress-id-7 .column-3 {
	width: 500px;
}